@media screen and (max-width: 1055px) {

    .certificate {
        max-width: 405px;
    }

}

@media screen and (max-width: 918px) {

    .language span:last-child {
        font-size: 11px;
        top: -6px;
    }

    .language-eng span:last-child {
        position: relative;
        top: -1px;
    }

}

@media screen and (max-width: 865px) {

    .certificate {
        max-width: 345px;
    }

}

@media screen and (max-width: 750px) {

    .certificate-main h1 {
        margin-bottom: 40px;
    }

    .languages {
        margin-bottom: 35px;
    }

}

@media screen and (max-width: 740px) {

    .certificate {
        max-width: 300px;
    }

}

@media screen and (max-width: 651px) {

    .languages {
        margin-bottom: 40px;
    }

    .certificates {
        flex-direction: column;
    }

    .certificate {
        max-width: 465px;
    }

    .certificate-main h1 {
        font-size: 30px;
    }

}
